@charset 'utf-8';
$theme:#1C222B;
$navbar-height: 42px;
$header-height: 42px;

// color
$active-light:#0080ff;
$navbar-background: #1C222B;
$sidebar-background:#242c37;
body,
html,
#app {
  height: 100%;
  width: 100%;
  font-size: 19.16px;
}

* {
  box-sizing: border-box;
  user-select: none;
  color: #fff;
  font-family: Microsoft YaHei!important; /*Times New Roman,arial, sans-serif8*/
}


/*元素内外边距重置*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
img {
  margin: 0;
  padding: 0;
}


/*列表样式重置*/

ul,
ol,
dl,
li {
  list-style: none;
}

/*清除浮动*/

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: ' ';
  line-height: 0;
}

.clearfix:after {
  clear: both;
}


/*链接样式设置*/

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}
div::-webkit-scrollbar,
ul::-webkit-scrollbar,
body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
li::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
li::-webkit-scrollbar-thumb  {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

div::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
li::-webkit-scrollbar-track  {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

